/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
	-fx-base: #333333;
	-fx-border-color: #000000;
} 

.button {
	 -fx-background-color: #ef8b23;
	 -fx-border-color: #000000;
	 -fx-border-insets: 2;
	 -fx-border-style: solid;
	 -fx-font-color: #000000;
	 -fx-text-fill: black;
}

.tool-bar{
	-fx-border-color: #000000;
}

.separator{
	-fx-background-color:#333333;
}

.table-row-cell:selected {
   -fx-background-color: #ef8b23; 
}
.table-row-cell:selected .text {
       -fx-fill: #ffffff ;
}

.button-bar{
	-fx-background-color:#222325;
	-fx-border-color: #000000;
}